body {
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 768px;
    background: #191D20 0% 0% no-repeat padding-box;
    opacity: 1;
}

.logo {
    top: -6px;
    left: 157px;
    width: 149px;
    height: 95px;
    background: transparent url('/Img/logo1@2x.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

.background {
    /*top: 184px;
    left: 183px;
    width: 1000px;
    height: 400px;*/
    top: 19%;
    width: 53%;
    left: 9%;
    height: 42%;
    background: #70423D 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 10px #000000D6;
    position: absolute;
}

.frame {
    top: 141px;
    left: 634px;
    width: 500px;
    height: 480px;
    border: 3px solid #AE9A5B;
    opacity: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email {
    top: 257px;
    left: 733px;
    width: 20px;
    height: 14px;
    background: transparent url('/Img/envelope.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

.password {
    top: 345px;
    left: 733px;
    width: 22px;
    height: 10px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    background: transparent url('/img/password.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

.signeup {
    top: 414px;
    left: 239px;
    width: 112px;
    height: 44px;
    border: 2px solid #AE9A5B;
    opacity: 1;
    position: absolute;
}

.signeuptext {
    top: 423px;
    left: 255px;
    width: 80px;
    height: 27px;
    text-align: left;
    font: Light 23px/27px Gilroy;
    letter-spacing: 0;
    color: #F1F1F1;
    opacity: 1;
    position: absolute;
}

.text1 {
    top: 334px;
    left: 238px;
    width: 355px;
    height: 56px;
    text-align: left;
    font: Light 24px/28px Gilroy;
    letter-spacing: 0;
    color: #D8D7D6;
    opacity: 0.8;
    position: absolute;
}

.text2 {
    top: 240px;
    left: 238px;
    width: 168px;
    height: 84px;
    text-align: left;
    font: Light 36px/42px Gilroy;
    letter-spacing: 0;
    color: #D8D7D6;
    opacity: 1;
    position: absolute;
}

.forgot {
    top: 472px;
    left: 813px;
    width: 120px;
    height: 16px;
    text-align: left;
    font: Light 14px/16px Gilroy;
    letter-spacing: 0;
    color: #91877C;
    opacity: 0.8;
    position: absolute;
}

.login {
    top: 457px;
    left: 951px;
    width: 112px;
    height: 44px;
    background: #C49B05 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

.logintext1 {
    top: 466px;
    left: 975px;
    width: 64px;
    height: 27px;
    text-align: left;
    font: Light 23px/27px Gilroy;
    letter-spacing: 0;
    color: #F1F1F1;
    opacity: 1;
    position: absolute;
}

.login-form {
    margin-left: 10%;
    margin-right: 10%;
    /*test*/
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}

input:hover .login-form {
    color: white;
}

.buttons {
    float: left;
    margin-left: 15px;
    margin-bottom: 60%;
}

.login-button-background {
    background: #C49B05 0% 0% no-repeat padding-box;
    border-radius: 0px;
    color: white;
}
