body {
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 768px;
    background: #191D20 0% 0% no-repeat padding-box;
    opacity: 1;
}
.logoOrganize {
    top: -6px;
    left: 157px;
    width: 149px;
    height: 95px;
    background: transparent url('/Img/logo1@2x.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.avatar {
    font-size: xx-large;
    color: lightgoldenrodyellow;
    top: 2%;
    left: 1171px;
    width: 36px;
    height: 36px;
    opacity: 1;
}

.search {
    top: 30px;
    left: 632px;
    width: 18px;
    height: 18px;
    background: transparent url('/Img/magnifying-glass.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.searchinput {
    top: 35px;
    left: 657px;
    width: 52px;
    height: 19px;
    text-align: left;
    font: Light 16px/19px Gilroy;
    letter-spacing: 0;
    color: #191D20;
    border-line: 2px;
    background: #191D20;
    opacity: 1;
}
.navBar1 {
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 78px;
    background: #191D20 0% 0% no-repeat padding-box;
    box-shadow: 5px 5px 5px #161313E0;
    opacity: 1;
}
.navBar2 {
    top: 0px;
    left: 152px;
    width: 288px;
    height: 768px;
    background: #191D20 0% 0% no-repeat padding-box;
    opacity: 1;
}
.todayback {
    top: 127px;
    left: 152px;
    width: 288px;
    height: 6%;
    background: #191D20 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 3px #0000009C;
    border: 1px solid #191D20;
    opacity: 1;
    position: relative;
    display: inline-block;
    text-align: center;
}

.todayicon {
    top: 22%;
    left: 4%;
    width: 26px;
    height: 24px;
    background: transparent url('/Img/edit.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

.todaytext {
    top: 30%;
    left: 18%;
    width: 13%;
    height: 25px;
    font: Light 22px/25px Gilroy;
    letter-spacing: 0;
    color: #AE9A5B;
    opacity: 1;
    position: absolute;
    cursor: grab;
}
.todayback:hover {
    background-color: #384147;
    border-radius: 2px;
    /* HOVER ON */
    -webkit-transition: border-radius 2s;
    font-size: 120%;
}
.todaytext:active{
    font-size:110%;
}
.notesback {
    top: 178px;
    left: 152px;
    width: 288px;
    height: 8%;
    background: #191D20 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 3px #0000009C;
    border: 1px solid #191D20;
    opacity: 1;
    position: relative;
    display: inline-block;
    text-align: center;
}
.notesicon {
    top: 7%;
    left: 2%;
    width: 47px;
    height: 40px;
    background: transparent url('/Img/post.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.notestext {
    top: 30%;
    left: 18%;
    width: 13%;
    height: 25px;
    font: Light 22px/25px Gilroy;
    letter-spacing: 0;
    color: #AE9A5B;
    opacity: 1;
    position: absolute;
    cursor: grab;
}
.notesback:hover {
    background-color: #384147;
    border-radius: 2px;
    /* HOVER ON */
    -webkit-transition: border-radius 2s;
    font-size: 120%;
}

.notestext:active {
    font-size: 110%;
}
.calendarback {
    top: 232px;
    left: 152px;
    width: 288px;
    height: 46px;
    background: #191D20 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 3px #0000009C;
    border: 1px solid #191D20;
    opacity: 1;
    position: relative;
    display: inline-block;
    text-align: center;
}
.calendartext {
    top: 30%;
    left: 18%;
    width: 13%;
    height: 25px;
    text-align: center;
    font: Light 22px/25px Gilroy;
    letter-spacing: 0;
    color: #AE9A5B;
    opacity: 1;
    cursor: grab;
    position: absolute;
}
.calendaricon {
    top: 28%;
    left: 4%;
    width: 47px;
    height: 40px;
    background: transparent url('/Img/calendar.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

.calendarback:hover {
    background-color: #384147;
    border-radius: 2px;
    /* HOVER ON */
    -webkit-transition: border-radius 2s;
    font-size: 120%;
}

.calendartext:active {
    font-size: 110%;
}
.weatherback {
    top: 285px;
    left: 152px;
    width: 288px;
    height: 46px;
    background: #191D20 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 3px #0000009C;
    border: 1px solid #191D20;
    opacity: 1;
    position: relative;
    display: inline-block;
    text-align: center;
}
.weathericon {
    top: 31%;
    left: 4%;
    width: 32px;
    height: 23px;
    background: transparent url('/Img/cloud.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.weathertext {
    top: 10px;
    left: 52px;
    width: 88px;
    height: 25px;
    text-align: left;
    font: Light 22px/25px Gilroy;
    letter-spacing: 0;
    color: #AE9A5B;
    opacity: 1;
    cursor: grab;
    position: absolute;
}
.weatherback:hover {
    background-color: #384147;
    border-radius: 2px;
    /* HOVER ON */
    -webkit-transition: border-radius 2s;
    font-size: 120%;
}

.weathertext:active {
    font-size: 110%;
}


.logout {
    top: 509px;
    left: 152px;
    width: 288px;
    height: 46px;
    background: #191D20 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 3px #0000009C;
    border: 1px solid #191D20;
    opacity: 1;
    position: relative;
    display: inline-block;
    text-align: center;
}
.logout-icon {
    top: 10px;
    left: 14px;
    width: 25px;
    height: 24px;
    background: transparent url('/img/log-out.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.logout-text {
    top: 12px;
    left: 49px;
    width: 69px;
    height: 25px;
    text-align: left;
    font: Light 22px/25px Gilroy;
    letter-spacing: 0;
    color: #AE9A5B;
    opacity: 1;
    position: absolute;
    cursor: grab;
}
.logout:hover {
    background-color: #384147;
    border-radius: 2px;
    /* HOVER ON */
    -webkit-transition: border-radius 2s;
    font-size: 120%;
}

.logout-text:active {
    font-size: 110%;
}
.addprojectname:hover {
    border-radius: 2px;
    /* HOVER ON */
    -webkit-transition: border-radius 2s;
    font-size: 120%;
    cursor: grab;
}


.time {
    top: 35px;
    left: 400px;
    width: 132px;
    height: 34px;
    text-align: left;
    font: Light 30px/34px Gilroy;
    font-size: larger;
    letter-spacing: 0;
    color: #AE9A5B;
    opacity: 1;
}
/*.location {
    top: 132px;
    left: 630px;
    width: 224px;
    height: 37px;
    text-align: left;
    font: Light 32px/37px Gilroy;
    font-size: xx-large;
    letter-spacing: 0;
    color: #ABA9A9;
    opacity: 1;
}*/
.date {
    top: 14%;
    left: 49%;
    width: 50px;
    height: 23px;
    text-align: left;
    font: Light 20px/23px Gilroy;
    font-size: x-large;
    letter-spacing: 0;
    color: #AE9A5B;
    opacity: 1;
}
.addproject {
    top: 355px;
    left: 204px;
    width: 16px;
    height: 16px;
    background: #191D20 url('/Img/plus.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}


.addprojectname {
    top: 355px;
    left: 229px;
    width: 151px;
    height: 23px;
    text-align: left;
    font: Light 20px/23px Gilroy;
    letter-spacing: 0;
    color: #989697;
    opacity: 1;
}
    .addprojectname:active {
        font-size: 150%;
    }

.historytext {
    top: 520px;
    left: 206px;
    width: 69px;
    height: 25px;
    text-align: left;
    font: Light 22px/25px Gilroy;
    letter-spacing: 0;
    color: #AE9A5B;
    opacity: 1;
}
.newsbox {
    top: 21%;
    left: 36%;
    width: 49%;
    height: 78%;
    border: 1px solid #AE9A5B;
    opacity: 1;
    position: absolute;
}
/*.line1 {
    top: 41%;
    left: 8%;
    width: 13%;
    height: 0px;
    border: 1px solid #aca9a9;
    opacity: 1;
}
.line2 {
    top: 45%;
    left: 8%;
    width: 13%;
    height: 0px;
    border: 1px solid #aca9a9;
    opacity: 1;
}
.line3 {
    top: 49%;
    left: 8%;
    width: 13%;
    height: 0px;
    border: 1px solid #aca9a9;
    opacity: 1;
}*/
.welcomeText {
    top: 4%;
    left: 80%;
    width: 88px;
    height: 25px;
    text-align: left;
    font: Light 22px/25px Gilroy;
    font-size: larger;
    letter-spacing: 0;
    color: #AE9A5B;
    opacity: 1;
}

input, textarea {
    background-color: #70423D;
}

.inp {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #03a8f45e;
    top: 5%;
    left: 50%;
    outline: none;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease;
    text-indent: -100%;
    opacity: 1;
}











