@{ 
    Layout = null;
}

<head>

    <link href="~/Content/MainPageCss.css" rel="stylesheet" />


</head>

<body>
    <div class="right">

    </div>


    <div class="frame" style="position:absolute">

    </div>

    <div class="organizeLogo" style="position:absolute">

    </div>



    <div class="startButton" style="position:absolute">

    </div>

    <div id="start-text" class="startText" style="position:absolute">
        <a class="a" href="http://localhost:52358/User/Registration">Let's start, it’s Free</a>
    </div>

    <div class="LoginButton" style="position:absolute">

    </div>

    <div class="loginText" style="position:absolute">
        <a class="aa" href="http://localhost:52358/User/Login" >Log in</a>
    </div>

    <div class="description" style="position:absolute">
        <a>Try out our new daily planner. Get a clear overview of everything you are working on – what’s already been done and what’s coming up next.</a>
    </div>

    <div class="headerText" style="position:absolute">
        <a>Let your day cross the limits...</a>
    </div>

    <script>
        $('#start-text').click(function () {
            document.location.href = $(this).attr('');
        });


    </script>


</body>

