
@{
    Layout = null;
}

<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/OrganizeCss.css" rel="stylesheet" />
</head>

<body>
    @{
        var user = (User)Session["user"];
    }
    <div class="navBar2" style="position:absolute">

    </div>

    <div class="navBar1" style="position:absolute">

    </div>

    <div class="logoOrganize" style="position:absolute">

    </div>

    <div class="avatar" style="position:absolute">
        @user.Username
    </div>

    <div class="search" style="position:absolute">

    </div>

    <div class="searchinput" style="position:absolute">
        <input style="background:#191D20; border:2px;" id="search-input" type="text" placeholder="Search..">
    </div>

    <div class="logo" style="position:absolute">

    </div>

    <div id="today-button" class="todayback">
        <i class="todayicon"></i>
        <text class="todaytext" id="today-text">Today</text>
    </div>





    <div id="notes-button" class="notesback" style="position:absolute">
        <i class="notesicon"></i>
        <text class="notestext" id="notes-text">Notes</text>
    </div>

    <div id="calendar-button" class="calendarback" style="position:absolute">
        <i class="calendaricon"></i>
        <text class="calendartext" id="calendar-text"></text>
    </div>

    <div id="weather-button" class="weatherback" style="position:absolute">
        <i class="weathericon"></i>
        <text class="weathertext" id="weather-text"></text>
    </div>



    <div class="logout" style="position:absolute">
        <i class="logout-icon"></i>
        <text class="logout-text">Logout</text>
    </div>


    <div class="dropdownicon" style="position:absolute">

    </div>

    <div class="time" style="position:absolute">
        <text>@DateTime.Now.ToString("dddd, dd MMMM yyyy HH:mm:ss")</text>
    </div>

    @*<div class="location" style="position:absolute">
            <text>Tbilisi, Georgia</text>
        </div>*@


    <div class="addproject" style="position:absolute">

    </div>

    <div class="addprojectname" style="position:absolute">
        <text>Add Project</text>
    </div>



    <div id="newsbox" class="newsbox" style="position:absolute">

    </div>

    <div class="line1" style="position:absolute">

    </div>

    <div class="line2" style="position:absolute">

    </div>

    <div class="line3" style="position:absolute">

    </div>

    <div class="welcomeText" style="position:absolute">
        <text>Welcome : </text>

    </div>

    <div class="" style="position:absolute">

    </div>

    <script>
        //today navigaciis buttonis clickze peraddeba es navigaciis buttonis texti
        // da gadis requestze igebs parshal views da tenis news boxis divshi
        $("#today-button").click(function () {
            colorizeNavigationButton("today-text");
            const valueFromInput = $("#search-input").val();
            const filterQuery = valueFromInput ? `?searchValue=${valueFromInput}` : "";

            $.get(`/Home/OrganizeToday/${filterQuery}`)
                .then(function (response) {
                    $("#newsbox").html(response);
                });
        });

        $("#notes-button").click(function () {
            colorizeNavigationButton("notes-text");
            const valueFromInput = $("#search-input").val();
            const filterQuery = valueFromInput ? `?searchValue=${valueFromInput}` : "";

            $.get(`/Home/OrganizeNotes/${filterQuery}`)
                .then(function (response) {
                    $("#newsbox").html(response);
                });
        });

        initialize();

        function initialize() {
            const navigationTextId = sessionStorage.getItem("navigation-text-id");
            if (navigationTextId != null) {
                $(`#${navigationTextId}`).css('color', '#B74A3E');
            } else {
                colorizeNavigationButton("today-text");
            }
            console.log("initialize", navigationTextId);

            switch (navigationTextId) {
                case "today-text":
                    console.log("inside switch case");
                    $("#today-button").trigger("click");
                    break;
                case "notes-text":
                    $("#notes-button").trigger("click");
                    break;

                default:
                    $("#today-button").trigger("click");
                    break;
            }
        }

        $("#search-input").on('input', function (val) {
            initialize();
        });


        // punqcia romelsac gadaecema textId anu marcxena mxares navigaciis buttonebis text is id.
        // vamowmeb sessiashi egeti id tu gdia anu aqamde vigacam xo ar daachira navigaciis romelime buttons
        // tu daachira mashin eg roja unda amovigot default peri mivcet
        // shemdeg avdget da axali navigaciis textis id chavagdod da eg texti gavawitlot
        function colorizeNavigationButton(textId) {
            const navigationButtonId = sessionStorage.getItem("navigation-text-id");
            if (navigationButtonId != null) {
                $(`#${navigationButtonId}`).css('color', '#AE9A5B');
            }

            sessionStorage.setItem("navigation-text-id", textId);
            $(`#${textId}`).css('color', '#B74A3E');
        }


    </script>

</body>