@{ 
    Layout = null;
}

<head>

    <link href="~/Content/MainPageCss.css" rel="stylesheet" />


</head>

<body>
    <div class="right">

    </div>


    <div class="frame" style="position:absolute">

    </div>

    <div class="organizeLogo" style="position:absolute">

    </div>

    <div class="enterMail" style="position:absolute">

    </div>

    <div class="startButton" style="position:absolute">

    </div>

    <div class="startText" style="position:absolute">
        <text>Let's start, it’s Free</text>
    </div>

    <div class="LoginButton" style="position:absolute">

    </div>

    <div class="loginText" style="position:absolute">
        <text>Log in</text>
    </div>

    <div class="description" style="position:absolute">
        <a>Try out our new daily planner. Get a clear overview of everything you are working on – what’s already been done and what’s coming up next.</a>
    </div>

    <div class="headerText" style="position:absolute">
        <a>Let your day cross the limits...</a>
    </div>

    <div class="slideFrame" style="position:absolute">

    </div>

    <div class="slideRight" style="position:absolute">

    </div>

    <div class="slideLeft" style="position:absolute">

    </div>

    <div class="googleIcon" style="position:absolute">

    </div>

    <div class="appleIcon" style="position:absolute">

    </div>


</body>

