
@{
    Layout = null;
}

<head>
    <link href="~/Content/OrganizeCss.css" rel="stylesheet" />

</head>

<body>
    <div class="navBar2" style="position:absolute">

    </div>

    <div class="navBar1" style="position:absolute">

    </div>

    <div class="logoOrganize" style="position:absolute">

    </div>

    <div class="avatar" style="position:absolute">

    </div>

    <div class="addButton" style="position:absolute">

    </div>

    <div class="search" style="position:absolute">

    </div>

    <div class="searchinput" style="position:absolute">
        <input style="background:#191D20; border:2px;" type="text" placeholder="Search..">
    </div>

    <div class="logo" style="position:absolute">

    </div>

    <div class="todayback" style="position:absolute">

    </div>

    <div class="todayicon" style="position:absolute">

    </div>

    <div class="notesback" style="position:absolute">

    </div>

    <div class="notesicon" style="position:absolute">

    </div>

    <div class="calendarback" style="position:absolute">

    </div>

    <div class="calendaricon" style="position:absolute">

    </div>

    <div class="weatherback" style="position:absolute">

    </div>

    <div class="weathericon" style="position:absolute">

    </div>

    <div class="projectsback" style="position:absolute">

    </div>

    <div class="projecticon" style="position:absolute">

    </div>

    <div class="historyback" style="position:absolute">

    </div>

    <div class="historyicon" style="position:absolute">

    </div>

    <div class="dropdownicon" style="position:absolute">

    </div>

    <div class="time" style="position:absolute">
        <text>@DateTime.Now.TimeOfDay</text>
    </div>

    <div class="location" style="position:absolute">
        <text>Tbilisi, Georgia</text>
    </div>

    <div class="date" style="position:absolute">
        <text>@DateTime.UtcNow.DayOfWeek</text>
    </div>

    <div class="temperature" style="position:absolute">
        <text>24</text>
    </div>

    <div class="circle" style="position:absolute">

    </div>

    <div class="addproject" style="position:absolute">

    </div>

    <div class="addprojectname" style="position:absolute">
        <text>Add Project</text>
    </div>

    <div class="todaytext" style="position:absolute">
        <text>Today</text>
    </div>

    <div class="notestext" style="position:absolute">
        <text>Notes</text>
    </div>

    <div class="calendartext" style="position:absolute">
        <text>Calendar</text>
    </div>

    <div class="weathertext" style="position:absolute">
        <text>Weather</text>
    </div>

    <div class="historytext" style="position:absolute">
        <text>History</text>
    </div>

    <div class="newsbox" style="position:absolute">

    </div>

    <div class="" style="position:absolute">

    </div>

    <div class="" style="position:absolute">

    </div>

    <div class="" style="position:absolute">

    </div>

    <div class="" style="position:absolute">

    </div>

    <div class="" style="position:absolute">

    </div>


</body>