@{
    Layout = null;
}

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - To Do List</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/LoginCss.css" rel="stylesheet" />



</head>
<body>

    <div class="logo">

    </div>
    <div class="background">

    </div>
    <div class="frame">
        <div class="login-form container col-md-4 ">

            <form action="/User/Login" method="post">

                <div class=" form-group">
                    <input class="form-control" name="Username" type="text" placeholder="Username" />
                </div>

                <div class=" form-group">
                    <input class="form-control" name="Password" type="password" placeholder="Password" />
                </div>


                <div class="buttons form-group">
                    <input class="form-control btn login-button-background" value="Login" type="submit" />
                </div>


                <p style="color:red; font-size:15px;">@ViewBag.error</p>


            </form>
        </div>
    </div>

    <div class="signup">

    </div>
    <div class="signeuptext">
        <text>Sign Up</text>
    </div>
    <div class="text1">
        <text>Sign up for free and let you day be more productive.</text>
    </div>
    <div class="text2">
        <text>Want an account ?</text>
    </div>
    <div class="forgot">
        <text>Forgot password ?</text>
    </div>
    <div class="login"></div>
    <div class="logintext1">
        <text>Login</text>
    </div>


</body>