@{
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - To Do List</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <link href="~/Content/RegistrationCss.css" rel="stylesheet" />


</head>


<body>

    <div class="logo"></div>
    <div class="background"></div>
    <div class="frame">
        <div class="login-form container col-md-4 ">

            <form action="/User/Registration" method="post">

                <h2 style="justify-content:center; color:#191D20">Registration</h2>

                <div class=" form-group">
                    <input class="form-control" name="Name" type="text" placeholder="სახელი" />
                </div>

                <div class=" form-group">
                    <input class="form-control" name="Lastname" type="text" placeholder="გვარი" />
                </div>

                <div class=" form-group">
                    <input class="form-control" name="Username" type="text" placeholder="ზედმეტსახელი" />
                </div>

                <div class=" form-group">
                    <input class="form-control" name="Password" type="password" placeholder="პაროლი" />
                </div>

                <div class=" form-group">
                    <input class="form-control" name="RepeatPassword" type="password" placeholder="გაიმეორე პაროლი" />
                </div>

                <div class="buttons form-group">
                    <input class="form-control btn btn-warning" value="რეგისტრაცია" type="submit" />
                </div>



                <p style="color:red; font-size:15px;">@ViewBag.error</p>


            </form>

        </div>
    </div>

    <div class="login"></div>
    <div class="logintext"><text>Login</text></div>
    <div class="text1"><text>Already have an account?</text></div>
    <div class="text2"><text>Let's log in and manage your day to be more productive.</text></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>



</body>