
@{
    Layout = null;
}
@model TDLView1.Models.TasksViewModel

<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/OrganizeCss.css" rel="stylesheet" />
    <link href="~/Content/OrganizeToday.css" rel="stylesheet" />
</head>

<body>
    @*<div class="today-text-partial">Today</div>*@
    <div id="task-container-id" class="task-container">

        @foreach (var item in Model.Tasks)
        {
            var taskRowId = $"task-row-{item.Id}";

            <div id="@taskRowId" class="task-row">
                
                <div class="task-row-text">@item.Description</div>
                <button class="btn btn-danger" onclick="onTaskDeleteButtonClick(@item.Id)" id="task-delete-button-id">
                    Delete
                </button>
            </div>
        }
    </div>
    <div class="add-task" ">
        <input id="add-task-input-id" class="add-task-input" />
        <button class="btn btn-success" id="add-task-button-id" class="add-task-button">Add Task</button>
    </div>
</body>


<script>

    //tito task rows HTML is generaciis punqcia romelsac gadaecema taskis id da agwera
    function getTaskRowHTML(id, description) {
        return `<div id="task-row-${id}" class="task-row">
            
            <div class="task-row-text">${description}</div>
            <button class="btn btn-danger"  onclick="onTaskDeleteButtonClick(${id})" id="task-delete-button-id">
                    Delete
                </button>
        </div>`;
    }

    // usmens add task buttonze dacheras da dacheris shemtxvevashi inputidan igebs agweras da post metodit agzavnis serverze
    // warmetebit dasrulebuli post metods serveridan vatant idis am idis da agweris cvladebit vidzaxebt getTaskRowHTML methods da
    // migebul htmls vagdebt task container divshi
    $("#add-task-button-id").click(function () {
        const taskDescriptionInput = $("#add-task-input-id");
        const newTaskDescription = taskDescriptionInput.val();

        if (!newTaskDescription)
            return;

        $.post("AddTask", { Description: newTaskDescription }, function (result) {
            const taskContainer = $("#task-container-id");
            console.log(result);
            taskContainer.append(getTaskRowHTML(result.id, newTaskDescription));
            taskDescriptionInput.val("");
        });

    });


    // daskis washlis buttonze dacherisas gamosadzaxebeli punqcia romelsac gadaecema id parametrad
    // es punqcia dizaxebs ajax get calls taskis wasashlelad da tu warmatebit dastrulda am taskis washla
    // mashin vedzebt am taskis shesabamis divs htmlshi da vshlit mas.
    function onTaskDeleteButtonClick(id) {
        $.ajax({
            url: `DeleteTask/${id}`,
            type: 'GET',
            success: function (_) {
                const toBeRemoveTaskSelector = `#task-row-${id}`;
                $(toBeRemoveTaskSelector).remove();
            }
        });
    }



</script>